<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
	<parameter name="URL" value="http://www.demo.guru99.com/V4/"/>
	<parameter name="username" value="mngr110543"/>
 	<parameter name="password" value="jumAged"/>
	<parameter name="invalidUsername" value="mnsgshs"/>
	<parameter name="invalidPassword" value="jumSbdajb"/>
	<classes>
    <!--  <class name="testScripts.ValidateLoginPage"/> 
	 <class name="testScripts.CreateNewCustomer"/> -->
	 <class name="testScripts.EditCustomer" />  
	 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->